/*common*/

.wd1200 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.wd90 {
    width: 90%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*custom*/

body{
    font-family: 'NanumSquare', sans-serif;
    word-break: keep-all;
}

body p,
body h1{
    transform: skew(0.03deg);
}

/*header*/

#header{
    padding: 25px 0;
}

.header_logo{
    width: 170px;
    float: left;
}

.header_gnb_box{
    float: right;
}

.header_gnb{
    padding: 10px 15px;
    float: left;
    cursor: pointer;
}

.header_gnb_txt{
    line-height: 23px;
}


/*section*/

/*book_search*/

.book_search_inner{
    padding: 20px 0;
    background-image: url(../images/main_back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.book_search_box{
    width: 70%;
    margin: 0 auto;
}

.book_search_bar{
    width: 30%;
    float: left;
}

.search_bar{
    width: 80%;
    border: 0;
    border-radius: 10px;
    margin-top: 78.5px;
    padding: 10px 15px;
}

.lnb_wrap{
    width: 60%;
    float: right;
}

.lnb{
    width: 30%;
    margin-right: 5%;
    padding: 10px 0;
    float: left;
    background-color: white;
    cursor: pointer;
}

.lnb:nth-child(3n){
    margin-right: 0;
}

.lnb:nth-child(n+4){
    margin-top: 20px;
}

.lnb_logo{
    width: 40px;
    margin: 0 auto;
}

.lnb_txt{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}


/*main_menu*/

.main_menu_box{
    width: 49%;
    float: left;
}

.main_menu_box:last-child{
    float: right;
}

/*new_book*/

.new_book{
    width: calc(100%/3);
    padding: 15px 0;
    float: left;
    background-color: #b2b2b2;
    cursor: pointer;
}

.new_book_txts{
    text-align: center;
    font-weight: bold;
    color: white;
}

.choice_book{
    background-color: #ee2b74;
}

.new_book_content{
    margin-top: 20px;
}

.new_book_inner{
    width: calc(100%/3);
    float: left;
    cursor: pointer;
}

.new_book_image{
    width: 70%;
    margin: 0 auto;
}

.new_book_textbox{
    margin-top: 10px;
    text-align: center;
}

.new_book_title{
    font-size: 20px;
}

.new_book_txt{
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.5;
}

/*new_class*/

.new_class{
    width: calc(100%/2);
    padding: 15px 0;
    float: left;
    background-color: #b2b2b2;
    cursor: pointer;
}

.new_class_txts{
    text-align: center;
    font-weight: bold;
    color: white;
}

.choice_class{
    background-color: #ee2b74;
}

.new_class_content{
    margin-top: 20px;
}

.new_class_inner{
    width: calc(100%/2);
    float: left;
    cursor: pointer;
}

.new_class_image{
    width: 70%;
    margin: 0 auto;
}

.new_class_textbox{
    margin-top: 10px;
    text-align: center;
}

.new_class_title{
    font-size: 20px;
}

.new_class_txt{
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
}


/*notice*/

.section_chapter:last-child{
    margin-top: 30px;
}

.main_notice_box{
    width: 49%;
    float: left;
}

.notice_title{
    font-size: 20px;
}

.notice_content{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.notice{
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    cursor: pointer;
}

.notice:last-child{
    border-bottom: 0;
}

.notice_content_title{
    float: left;
}

.notice_date_txt{
    font-size: 12px;
    line-height: 16px;
    float: right;
}


/*calendar*/

.main_calendar_box{
    width: 49%;
    float: right;
}

.calendar_sub{
    padding: 0 10px;
    float: left;
}

.calendar_sub:first-child{
    padding-left: 0;
}

.calendar_color{
    width: 20px;
    height: 20px;
    float: left;
}

.calendar_sub:first-child .calendar_color{
    background-color: #f6ff00;
}
.calendar_sub:nth-child(2) .calendar_color{
    background-color: #00fffc;
}
.calendar_sub:nth-child(3) .calendar_color{
    background-color: #ff00f6;
}

.calendar_title{
    margin-left: 10px;
    float: left;
    line-height: 20px;
}

.calendar_main{
    border-bottom: 1px solid #ee2b74;
    margin-top: 20px;
    padding-bottom: 15px;
}

.calendar_list{
    position: relative;
    width: calc(100%/7);
    padding: 15px;
    float: left;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}

.this_date{
    border: 1px solid #ee2b74;
}

.month_title{
    font-size: 18px;
}

.date_in .week_txt{
    margin: 10px 0;
}

.calendar_list:not(.date_in) .week_txt{
    margin: 28px 0 10px 0;
}

.detail_date_schedule{
    width: 90%;
    padding-top: 15px;
    margin: 0 auto;
}

.schedule_title{
    font-size: 20px;
}

.schedule_txt{
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
}

.calendar_schedule{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 15px;
    bottom: 15px;
}

.movie_schedule{
    background-color: #ff00f6;
}

.rest_schedule{
    background-color: #f6ff00;
}


/*footer*/

#footer{
    margin-top: 50px;
    padding: 15px 0;
    background-color: #484848;
}

.fnb_box{
    float: left;
}

.fnb{
    float: left;
}

.fnb_txt{
    padding: 5px 10px;
    font-size: 12px;
    color: white;
}

.more_company_list{
    float: right;
}

#recommend_site{
    padding: 5px;
}

.company_info_txt{
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: white;
}


@media screen and (max-width:1024px){
    .header_logo{
        width: 100px;
    }
    
    .header_gnb{
        padding: 5px 10px;
    }
    
    .header_gnb_txt{
        font-size: 14px;
        line-height: 15px;
    }
    
    .book_search_box{
        width: 90%;
    }
    
    .search_bar{
        margin-top: 60px;
    }
    
    .lnb_logo{
        width: 30px;
    }
    
    .notice_content_title{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70%;
        white-space: nowrap;
    }
    
    .new_book_title,
    .new_class_title{
        font-size: 18px;
    }
    
    .month_title{
        font-size: 16px;
    }
    
    .calendar_schedule{
        right: 5px;
    }
    
    .schedule_title{
        font-size: 18px;
    }
    
    .fnb_box{
        width: 70%;
        float: left;
    }
}

@media screen and (max-width:768px){
    #header{
        position: relative;
    }
    
    .mobile_menu_btn{
        width: 30px;
        height: 30px;
        float: left;
        background-image: url(../images/mobile_menu.png);
        background-size: cover;
    }
    
    .header_logo{
        position: absolute;
        width: 150px;
        left: 50%;
        margin-left: -75px;
    }
    
    .header_gnb_box{
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 70%;
        height: 103vh;
        background-color: white;
        z-index: 9999;
        box-shadow: 0px 2px 10px #8d8d8d;
    }
    
    .mobile_exit_btn{
        width: 20px;
        height: 20px;
        margin: 20px 0 20px 20px;
        background-image: url(../images/mobile_exit.png);
        background-size: cover;
    }
    
    .header_gnb{
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        float: none;
        padding: 15px 0;
    }
    
    .header_gnb_txt{
        font-size: 20px;
        line-height: 1.5;
        float: left;
    }
    
    .mobile_menu_back{
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.2);
        z-index: 9998;
    }
    
    .mobile_arrow{
        width: 10px;
        height: 10px;
        margin-top: 10px;
        float: right;
        background-image: url(../images/mobile_arrow.png);
        background-size: cover;
    }
    
    .mobile_line{
        display: block;
        width: 100%;
        height: 1px; 
        background-color: #eaeaea;
    }
    
    .book_search_bar{
        width: 100%;
        float: none;
    }
    
    .search_bar{
        width: calc(100% - 30px);
        margin-top: 0;
    }
    
    .lnb_wrap{
        width: 100%;
        margin-top: 30px;
        float: none;
    }
    
    .main_menu_inner {
        margin-top: 30px;
    }
    
    .main_menu_box{
        width: 100%;
        float: none;
    }
    
    .main_menu_box:last-child{
        margin-top: 20px;
        float: none;
    }
    
    .main_notice_box,
    .main_calendar_box{
        width: 100%;
        float: none;
    }
    
    .main_calendar_box{
        margin-top: 20px;
    }
    
    .calendar_color{
        width: 10px;
        height: 10px;
        margin-top: 5px;
    }
    
    .calendar_title{
        font-size: 12px;
        line-height: 20px;
    }
    
    .fnb{
        width: calc(100%/4);
    }
    
    .fnb_box{
        width: 100%;
        float: none;
    }
    
    .fnb_txt{
        padding: 10px;
        text-align: center;
    }
    
    .more_company_list{
        width: 180px;
        margin: 10px auto;
        float: none;
    }
    
    .company_info_txt{
        font-size: 10px;
    }
}

@media screen and (max-width:480px){
    .lnb_logo{
        width: 20px;
    }
    
    .lnb_txt{
        font-size: 10px;
    }
    
    .new_book_txts,
    .new_class_txts{
        font-size: 14px;
    }
    
    .new_book_title, .new_class_title{
        font-size: 16px;
    }
    
    .new_book_txt,
    .new_class_txt{
        font-size: 10px;
    }
    
    .notice_content_title{
        font-size: 14px;
    }
    
    .calendar_list{
        overflow: hidden;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
        padding: 10px 5px;
        float: none;
    }
    
    .calendar_list:last-child{
        border-bottom: 0;
    }
    
    .calendar_schedule{
        bottom: 7px;
    }
    
    .calendar_list:not(.date_in) .week_txt,
    .date_in .week_txt{
        margin: 0;
    }
    
    .week_txt{
        position: absolute;
        margin: 0;
        right: 10px;
    }
    
    .date_txt{
        margin-top: 10px;
        font-size: 16px;
    }
    
    .calendar_list:not(.date_in) .date_txt{
        margin-top: 0;
    }
    
    .this_date{
        border: 1px solid #ee2b74;
    }
    
    .calendar_schedule{
        left: 20px;
        bottom: 11px;
    }
    
    .calendar_list:not(.date_in) .week_txt{
        line-height: 16px;
    }
    
    .schedule_title{
        font-size: 16px;
    }
    
    .schedule_txt{
        font-size: 12px;
    }
    
    .fnb{
        width: calc(100%/2);
    }
    
    .fnb_txt{
        padding: 10px 0;
    }
}